<web-app>
<display-name>notice</display-name>
 <!-- Auto scan REST service
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param> -->
	
	<!-- this need same with resteasy servlet url-pattern-->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param> 
 <!-- 
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>-->


	<filter>
		<filter-name>MacTokenFilter</filter-name>
		<filter-class>com.notice.configuration.MacTokenFilter</filter-class>

	</filter>

	<filter-mapping>
		<filter-name>MacTokenFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	
	
	
	
 
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.notice.configuration.NoticeConfiguration</param-value>
		</init-param>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>
